:root {
    --main-background-color:#CDECEF;
    --primary-color:#2B91AD;
    --gallery-color:#FFB58A;
    --text-1: coral;
    --text-2: red;
}

#stairs {
    border: 2px solid black;
    border-top: none;
    border-bottom: none;
    height: 500px;
}

#img {
    position: relative;
    bottom: -500px;
}

#stair-container {
    position: relative;
    margin-left: 600px;
    margin-right: 600px;
    top: -200px;
}

hr {
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    height: 0px;
    border-top: 3px solid black;
}

.hidden {
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: var(--main-background-color);
}

h1 {
    color: var(--text-1);
}

h2 {
    color: var(--text-2);
}