body {
    background-color: mediumaquamarine;
    font-family: arial;
}
h1 {
    color: darkgoldenrod;
    text-align: center;
}
.assign {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: orange;
}
.assign img {
    width: 200px;
    padding: 10px;
}
